{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}
    About Me
{% endblock %}

{% block  content %}
    <div class="row justify-content-center my-lg-3">
        <div class="col-5">
            <img src="{% static 'portfolio/Reza Ghazi.JPG' %}" class="img-fluid" alt="">
        </div>
    </div>
    <p>My name is Reza K Ghazi, and as a data scientist, I live and work in Toronto, Canada. I studied solid-state
        physics and continued artificial intelligence.</p>
    <p>Computer science started to grow in my life in the early-80s when I was a teenager. The days that my friend's
        cousin had a <a href="https://en.wikipedia.org/wiki/ZX_Spectrum" target="_blank" rel="noreferrer noopener">ZX
            Spectrum+</a> and that device were so strange but passionate for me.</p>
    <p>I will never forget the feeling of playing chess with a machine back days. For most of my students, now it isn't
        easy to imagine how it's possible to write a code on paper, test it with a pen, and find a computer a couple of
        days later to check your result.</p>
    <p> But it was our habit back then. Since then, after I went to university, I have gained many experiences and
        knowledge, and I am still learning and experiencing every day.</p>
    <p>I remember how I dealt with punch cards (that I still have some of them) as a <a href="https://fortran-lang.org/"
                                                                                        target="_blank"
                                                                                        rel="noreferrer noopener">FORTRAN</a>
        and Assembly language programmer for <a href="https://en.wikipedia.org/wiki/IBM_System/360" target="_blank"
                                                rel="noreferrer noopener">IBM System/360</a>/<a
                href="https://en.wikipedia.org/wiki/IBM_System/370" target="_blank" rel="noreferrer noopener">IBM
            System/370</a> in industry and university, such a different experience.</p>
    <p>Believe it or not, if you start to work with an <a href="https://en.wikipedia.org/wiki/IBM_Personal_Computer_XT"
                                                          target="_blank" rel="noreferrer noopener">IBM PC XT</a>, you
        will find how beautiful inventions are the keyboard and monitor😂.</p>
    <p>Nowadays, I am leaning in my chair and writing <a href="https://en.wikipedia.org/wiki/The_C_Programming_Language"
                                                         target="_blank" rel="noreferrer noopener">C</a> family, <a
            href="https://www.python.org/" target="_blank" rel="noreferrer noopener">Python</a> or other programming
        languages on my multicore machine and taste a different feeling.</p>
    <p>When I look back, I see having such experiences have been beneficial because they let me understand the computer
        science tree from its roots, not by picking a leaf from its branches.</p>
    <p>Today, it's simple to learn ideas or knowledge in every aspect of science and technology. The vast shared
        resources can help to make this route more comfortable and as easy as possible.</p>
    <p>Imagine the world without the internet, or as a developer, imagine if we did not have platforms such as <a
            href="https://stackoverflow.com/" target="_blank" rel="noreferrer noopener">StackOverflow</a> or <a
            href="https://github.com/" target="_blank" rel="noreferrer noopener">GitHub</a> to share our experience and
        knowledge.</p>
    <div class="row justify-content-center my-lg-3">
        <div class="col-lg-6">
            <img src="{% static 'portfolio/about_img_1.jpg' %}" class="img-fluid" alt="">
        </div>
    </div>
    <p>I have worked in various industries and institutions in different areas such as finance, physics, astronomy,
        medicine, language processing, and many more.</p>
    <p>Teaching is one of our family-wise passions, which keeps me fresh. "I teach; therefore, I am." I learn a lot from
        my students and believe teaching is an excellent way to bring your knowledge to the other side and learn
        more.</p>
    <p>Number theory in mathematics and celestial mechanics and orbital dynamics in astronomy are my favourite
        fields of science.</p>
    <p>The ability to write code to solve a problem in these fields is a satisfactory experience that I cannot
        explain.</p>
    <p>I can say I am crazy about programming. It gives me a sense of being alive, being productive. The famous quote of
        <a href="https://en.wikipedia.org/wiki/William_Shakespeare" target="_blank" rel="noreferrer noopener">William
            Shakespeare</a> in Tragedy of Hamlet is: <i>To be, or not to be, that is the question?</i> and I say, <b>Coding
            or
            not coding, that is the question.😊?</b></p>
    <p>I learned in my life that there are always better solutions and ideas for any problem, so I do believe in change,
        and as <a href="https://en.wikipedia.org/wiki/Werner_Heisenberg" target="_blank" rel="noreferrer noopener">Werner
            Karl Heisenberg</a> has proved, nothing is certain.</p>
{% endblock %}